<div class="container">
  <div class="box">
    <h3>Sign in</h3>
    <input
      type="text"
      placeholder="Username"
      [(ngModel)]="user.username"
      (keydown)="resetError()"
    />
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
      (keydown)="resetError()"
    />
    <button (click)="login()">Login</button>
    <p *ngIf="isError">{{ errorMessage }}</p>
    <h3 class="register-text">Don't have an account?</h3>
    <button (click)="register()">Register</button>
  </div>
</div>
